# HIV Model
Sam Daitzman / Adi Sudhakar

In [1]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim.py module
from modsim import *

In [3]:
state = State(
    R=1000, # activated normal lymphocytes
    L=0, # latently infected
    E=0, # actively infected
    V=100 # free virions
)

R    1000
L       0
E       0
V     100
dtype: int64

In [18]:
system = System(
    gamma=1.36,   # birthrate of R
    mu=1.36e-3,   # natural deathrate of R and L
    delta=0.33,   # deathrate of E
    beta=0.00027, # R-to-L conversion rate (per virion)
    alpha=3.6e-2, # L-to-E rate
    pie=100,      # virion creation rate
    sigma=2,      # virion death rate
    rho=0.1,      # proportion of cells becoming latently infected upon infection
    tau=0.2       # proportion of cells activated
)

gamma      1.36000
mu         0.00136
delta      0.33000
beta       0.00027
alpha      0.03600
pie      100.00000
sigma      2.00000
rho        0.10000
tau        0.20000
dtype: float64

In [106]:
def update_func(state, system):
    # suggestion from Allison: first calculate named flows here to guarantee conservation
    unpack(system)
    state.R += gamma * tau - mu * state.R - beta * state.R * state.V
    state.L += rho * beta * state.R * state.V - mu * state.L - alpha * state.L
    state.E += (1 - rho) * beta * state.R * state.V + alpha * state.L - delta * state.E
    state.V += pie * state.E - sigma * state.V
    return state
state = update_func(state, system)

R     -1771
L      -951
E     -8662
V   -886600
dtype: int64

In [107]:
state = State(
    R=1000, # activated normal lymphocytes
    L=0, # latently infected
    E=0, # actively infected
    V=100 # free virions
)

R    1000
L       0
E       0
V     100
dtype: int64

In [49]:
R

1000